@font-face {
  font-family: 'InterTight';
  src: url("@/assets/fonts/InterTight.ttf") format("truetype");
}

body {
  font-family: 'InterTight', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}